@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');
/* font-family: 'Audiowide', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Rambla', sans-serif; */

html{
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(
      0deg,
      rgba(44, 44, 44, 0.6),
      rgba(44, 44, 44, 0.6)
    ),
    url('https://cdn.pixabay.com/photo/2019/02/23/15/23/viburnum-4015821_1280.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  overflow-x: hidden;
}

body {
  /* font-family: Montserrat; */
  font-family: 'Rambla', sans-serif;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: rgba(44, 44, 44, 0.6);
}
a:hover{
  color: black;
}

/* **********navbar********** */
nav{
  overflow: hidden;
  background:#FFFAE1 ;
  position: fixed;
  width: 100%;
  opacity: 0.8;
  top: 0px;
  z-index: 10;

}

/* 
nav ul{
   display: flex; 
  justify-content: flex-end; 
}
 */

nav li {
  list-style: none;
  float: right;
  font-size: 1.2rem;
}
nav a {
padding: 10px 16px;
}
nav a:hover{
  color: black;
}


h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  color: white;
  /* font-weight: 600; */
}
h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

hr {
  color: white;
  text-align: center;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 20px;
}
header p {
  font-family: 'Audiowide', sans-serif;
  letter-spacing: 0.1em;
  font-size: 3em;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

/* ********** section about ********** */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 90px auto 70px auto;
  padding: 20px;
  padding-top: 0;
  /* background: rgb(122, 48, 48); */
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.about img {
  border-radius: 50%;
  width: 150px;
  margin-top: -30px;
}

/* ********** section skills ********** */

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 10px auto 70px auto;
  padding: 20px;
  padding-top: 0;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.skills_HTML {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.progress-value {
  display: block;
  margin-bottom: 5px;
}
.progress-bar100 {
  background: rgba(25, 105, 129, 0.4);
  width: 150px;
  height: 6px;
}
.progress-bar90 {
  background: #0b707e;
  width: 90%;
  height: 6px;
}
.progress-bar80 {
  background: #0b707e;
  width: 80%;
  height: 6px;
}

.progress-bar60 {
  background: #0b707e;
  width: 60%;
  height: 6px;
}
.progress-bar40 {
  background: #0b707e;
  width: 40%;
  height: 6px;
}

/* ********** section timeLine (chronologie ou experience) ********** */
.timeLine {
  display: block;

  width: 60%;
  margin: 0 auto;
}

.timeLine_vertical {
  display: block;
  width: 7px;
  padding: 10px 0;
  margin: 40px auto;
  background: rgba(25, 105, 129, 0.4);
}
.cercleTriangleBubble {
  position: relative;
}

.bubble {
  /* width: 400px; */
  width: 25rem;
  color: white;
  margin: 30px auto 30px auto;
  padding: 15px;
  background: rgba(18, 157, 175, 0.8);
  position: relative;
  /* opacity: 0;
  transform: translateX(100px);
  transition: 1.5s ease-in;    */
}
.bubblePair {
  opacity: 0;
  transform: translateX(-100px);
  transition: 1.5s ease-in-out;
}

.bubbleImpair {
  opacity: 0;
  transform: translateX(100px);
  transition: 1.5s ease-in-out;
}

/*  
.bubbleImpair{
  opacity: 0;
  transform: translateX(80px);
  transition: 1.5s ease-in-out;
   animation : slideImpaire 1s ease 0s 1 normal forwards; 
} 
*/
/*
@keyframes slideImpaire {
  0%{
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
*/
/* 
.bubblePair{
  opacity: 0;
  transform: translateX(-100px);
  transition: 1s ease-in;
  animation : slidePair 1s ease 0s 1 normal forwards; 
} */

/*
@keyframes slidePair {
  0%{
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
 */

.bubblePair {
  left: -530px;
}
.bubbleImpair::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid rgba(18, 157, 175, 0.8);
  left: -15px;
}

.bubblePair::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid rgba(18, 157, 175, 0.8);
  right: -15px;
  transform: rotate(180deg);
}

.cercleTriangleBubble::after {
  content: '';
  position: absolute;
  left: -61px;
  bottom: 0;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: rgba(18, 157, 175, 1);
}
.bubbleImpair time,
.bubblePair time {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* section contact */
/* 
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px auto;
  width: 60%;
} */

/* form {
  width: 100%;
} */
/* .row {
  display: flex;
  flex-direction: row;
} */

/* .form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #d9d9d9;
  flex-grow: 1;
} */
/* .form-group:first-of-type {
  margin-right: 30px;
} */
/* label {
  font-size: 16px;
  color: #999999;
  padding: 5px;
} */
/* input {
  width: 100%;
  color: #555555;
  border: none;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
  font-family: Montserrat;
} */
/* textarea {
  border: none;
  min-height: 110px;
  color: #555555;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 18px;
} */

/* ::placeholder {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
} */
/* .btn {
  margin-top: 20px;
  padding: 0 20px;
  min-width: 130px;
  height: 50px;
  background-color: rgba(18, 157, 175, 1);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: white;
} */
/* .btn:hover {
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 40%);
  
}
 */

/*   link cv pdf */
.cv_PDF {
  text-align: center;
}

.cv_PDF a {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100px;
  margin: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  color: rgba(18, 157, 175, 1);
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
  z-index: 20;
}
.cv_PDF span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(18, 157, 175, 1); /* #eb5a77; */
  /* height: 400%;
  width: 110%;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);*/
  height: 300px;
  width: 300px;
  transform: translateX(-280px) translateY(-50px) rotate(45deg);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.cv_PDF a:hover span:after {
  color: rgb(18, 157, 175);
  /* transform: translateX(-6%) translateY(-25%) rotate(45deg); */
  transform: translateX(-10px); 
  opacity: 80%;
}
.cv_PDF a:hover, a:active {
  color:black;
  z-index: 2;
}

/*  section projets */

.projets{
 display: flex;
 flex-wrap: wrap;
 box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}
.divProjet{
  max-width: 280px;
  height: 380px;
  margin: 20px ;
  border: 1px solid black;
  /* background: rgb(182, 23, 23); */
  text-align: center;
  overflow: hidden;
  /* object-fit: scale-down; */
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);

}
.divImgProjet{
  width: 280px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;

}
.imgProject{
  width: 280px;
  margin: 0px ;
}
.divProjet h3{
  color: rgba(18, 157, 175, 1);
    font-size: 18px;
}

.divProjet h4{
    font-size: 14px;
    
}
.divProjet button{
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid rgba(18, 157, 175, 1);
  font-size: 16px;
  width: 140px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: rgba(18, 157, 175, 1);
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
  
}

.divProjet span::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(18, 157, 175, 1);
  height: 300px;
  width: 300px;
  transform: translateX(-280px) translateY(-50px) rotate(45deg);
  transition: all 0.5s ease-in-out;
  
}
.divProjet button:hover span{
  /* color: white; */
  z-index: 10;
}
.divProjet button:hover span::before{
  color: rgb(18, 157, 175);
  /* transform: translateX(-6%) translateY(-25%) rotate(45deg); */
  transform: translateX(-10px); 
  opacity: 80%;
  z-index: 1;
 
}

/*  Fin section projets */


/*  template form css */


/* .form-container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	
	padding: 30px;
	background-color: #fff;
	position: relative;
	    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-container .row {
	margin-bottom: 0;
} */


/* label color */
   /* .input-field label {
     color: #9c9c9c;
   } */
   /* label focus color */
   /* .input-field input[type=text]:focus + label {
     color: #9c9c9c;
   } */
   /* label underline focus color */
   /* .input-field input[type=text]:focus {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   } */
   /* valid color */
   /* .input-field input[type=text].valid {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   } */
   /* invalid color */
   /* .input-field input[type=text].invalid {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   } */
   /* icon prefix focus color */
   /* .input-field .prefix.active {
     color: #9c9c9c;
   }
   input:not([type]):focus:not([readonly]), 
   input[type=text]:focus:not([readonly]), 
   input[type=password]:focus:not([readonly]), 
   input[type=email]:focus:not([readonly]), 
   input[type=url]:focus:not([readonly]), 
   input[type=time]:focus:not([readonly]), 
   input[type=date]:focus:not([readonly]), 
   input[type=datetime]:focus:not([readonly]), 
   input[type=datetime-local]:focus:not([readonly]), 
   input[type=tel]:focus:not([readonly]), 
   input[type=number]:focus:not([readonly]), 
   input[type=search]:focus:not([readonly]), 
   textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #009ddc;
    box-shadow: 0 1px 0 0 #009ddc;
}
input:not([type]):focus:not([readonly])+label, 
input[type=text]:focus:not([readonly])+label, 
input[type=password]:focus:not([readonly])+label, 
input[type=email]:focus:not([readonly])+label, 
input[type=url]:focus:not([readonly])+label, 
input[type=time]:focus:not([readonly])+label, 
input[type=date]:focus:not([readonly])+label, 
input[type=datetime]:focus:not([readonly])+label, 
input[type=datetime-local]:focus:not([readonly])+label, 
input[type=tel]:focus:not([readonly])+label, 
input[type=number]:focus:not([readonly])+label, 
input[type=search]:focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #009ddc;
} */
/* .form-container .btn {
    background-color: #009ddc;

} */
/* .submitbtn {
	line-height: 48px;
	display: block;
	height: 48px;
	width: 100%;
} */
/* .form-container h3 {
	font-size: 42px;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -46px;
} */

@media  all and (max-width: 640px) {
	/* .form-container {
		position: static;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 100%;
		margin-top: 70px;
		margin-bottom: 20px;
	}
   */
/*    
	.form-container h3 {
	    font-size: 24px;
	    top: -26px;
	} */
}


/* MEDIA QUERIES */
@media screen and (max-width: 970px) {
  .bubble {
    width: 20rem;
  }
  .bubblePair {
    left: -445px;
  }
}

@media screen and (max-width: 800px) {
  .bubblePair {
    left: 0px;
  }
  .bubble {
    width: 15rem;
  }
  .bubblePair::before {
    left: -15px;
    transform: rotate(0deg);
  }
  .timeLine_vertical {
    margin: 40px 5px;
  }
}
@media screen and (max-width: 400px) {
  .bubble {
    width: 10rem;
  }
  .bubblePair::before {
    left: -15px;
    transform: rotate(0deg);
  }
  .timeLine_vertical {
    margin: 40px 5px;
  }
}
